html{box-sizing: border-box;}
* , *:before , *:after {box-sizing: inherit;}

body{

    background-color: rgb(1, 35, 58);
    color: rgb(0, 255, 170);
    height: 2300px;
    
}




*{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    text-align: center;
    margin-bottom: 30px;
   

}


nav{
    background-color: rgb(69, 69, 202);
    border-radius: 10px;
    position:sticky ;
    top: 0;
    opacity: 0.9;
}
    b{
        background-color: rgb(255, 0, 0);
        color: rgb(251, 255, 0);
        position: relative;
        bottom: 16px;
        right: 20px;
        padding: 5px 6px;
        border-radius: 10px;
        font-size: 12px;
    }
a{
    
    color: white;
    padding: 12px 15px;
    display:inline-block ;
    text-decoration: none;
    
}

.about{
    background-color: rgb(255, 115, 0);
    padding: 10px;
    color: black;
    border-radius: 10px;
}
a:hover , a:focus{
    background-color: gold;
    color: black;
    border-radius: 20px;
    transition: all 0.5s;

}
.contact{
    float: right;
}

table, th, td { 
    
    
    
    border: 5px solid rgb(255, 255, 255);
    
    text-align: center;
    
}
caption{
    margin-bottom: 10px;
}
    table {
        
        
        border-collapse: collapse;}

    th {
    padding: 10px 20px;
    background-color: rgb(252, 192, 124);
        color: black;
    }

   td{
       padding: 10px 0;
       
   }

   tr:nth-child(even) 
   {
       color: rgb(255, 255, 255);
    background-color:royalblue;
   }
   tr:nth-child(3)
   
   {
       
    color: black;
    background-color:rgb(65, 225, 132);
   }
   caption{
       color: rgb(255, 123, 0);
   }
   .tab{
       display: flex;
       justify-content: center;
       
   }
   img{
       border: 5px solid rgb(0, 119, 255);
       border-radius: 20px;
       
   }

   .imo {
       display: flex;
       justify-content: center;
       margin: 20px;
       transform: rotate(7deg);
    

   }
   .ima{
    display: flex;
    justify-content: center;
    margin: 20px;
    transform: rotate(-7deg);

   }
   .ai{
     background-color: rgb(46, 39, 145) ;
       display: flex ;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
       width: 100px;
       transition: all 2s ;
       border: 6px solid rgb(210, 255, 12);
       border-radius: 10px;
       color: rgb(250, 109, 53);
   }
   .ai:hover{width: 300px;}

   .flo{
       width: 40%;
       margin: 0 auto;
       border: solid 3px rgb(255, 255, 255) ;
       border-radius:15px ;
       text-align: center;
       margin-top: 30px;
      

   }

   header , footer {
background-color: rgb(0, 110, 184);
color: yellow;
padding: 40px 0;
border-radius: 10px;


   }

  .img1{
      width: 100%;
      margin: 2px 0;
      height: 100%;
      box-sizing: border-box;
     border: yellow 4px solid;

   }
   aside , .man{
    
    height: 400px;
   

   }
   aside{
       width: 30%;
       float:left;
       background:rgb(216, 148, 0) ;
       border-radius: 10px;
       
       color: black;
       
   }
   .man{

       width: 70%;
    float: right;

   }




   main{
    height: 40%;
    margin-left: 5PX;
    border-radius: 10px;
    background-color: rgb(94, 253, 73);
    color: black;

   }
   .banner{
    height: 20%;
    background-color: aquamarine;
    color: black;
    margin: 5px 0 5px 5px;
    border-radius: 10px;
   }
   .two{
    height: 40%;
   }

    .ad{
        background-color: rgb(230, 34, 0);
        
        border-radius: 10px;

        width: 30%;
        float: right;
        height: 100%;
    }
    .img2{
    float: left;
    width: 70%;
    height: 100%;
    }


   
   footer{
    background-color: rgb(55, 0, 184);
    color: yellow;
       margin-top: 20px;
       
   }
   